* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

@media (min-width: 0px){
    .tab-content .tab-item ul li .title {
        width: 74%;
        height: 166px;
        text-align:left;
    }

    .tab-content .tab-item ul li .date {
        width: 26%!important;
        height: 166px;
    }

    .tab-content .tab-item ul li .title .btn{
        display:none;
    }

    .menu .menu-sub-menu-1-container {
        display: none;
    }
}

@media (min-width: 415px){
    #video-box .text .date {
        font-size: 48px!important;
    }

    .carousel-caption.text-left p {
        margin-top: 2rem!important;
    }

}

@media (min-width: 767px){
    .tab-content .tab-item ul li .title {
        width: 76%!important;
        height:auto;
    }

    .tab-content .tab-item ul li .date {
        width: 24%!important;
        height:auto;
    }

    .footer .box {
        width: 21%;
        height: 362px;
    }

    h2 {
        width: 90%!important;
    }

    .logoSlide {
        margin: 1.5rem 0 0rem 0!important;
        width: 175px!important;
    }

    .main-menu .logo {
        margin-bottom: 0px!important;
    }

    #event-box {
        padding: 3px 3px 3px 3px!important;
    }

    .avatar-image {
        max-width: 100px!important;

    }

}
@media (min-width: 860px){
    #schedule-tab .title{
        width:25%!important;
        height: 531px;
    }

    h1 {
        font-size: 3rem!important;
    }

    .avatar-image {
        width: 50% !important;
    }
}

@media (min-width: 992px){
    #video-box .arrow{
        display:block!important;
    }

    .video-aux-text {
        margin-top: 145px!important;
    }

    #about {
        width: 51%!important;
    }
    .menu .menu-sub-menu-1-container {
        display: block;
    }
}

@media (min-width: 1100px){
    #all-news p a {
        font-size: 26px!important;
        margin: 50px 0 0 40px!important;
    }
}

@media (min-width: 1400px){
    .footer .box {
        width: 21%;
        height: 315px;
    }
}

.container {
    max-width: 1444px;
}

body {
    background-color: #E5E2E2;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {font-size: 41px;margin-top: 10px;}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bg-white {
    background-color: #fff;
}

.alignleft {
    float:left;
    margin: 5px 10px 0px 0;
}

.aligncenter{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.size-thumbnail {
}

.text-gray {
    color: #666!important;
}

.text-muted {
    color: #b7b7b7!Important;
}

.color-primary {
    color: #272B4F;
}

.btn-primary {
    color: #fff!important;
    background-color: #192a56;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    font-weight: 400!important;
}

.btn-primary:hover {
    background-color: #273c75;
    border: 1px solid transparent;
    border-radius: 4px;
}

.search-submit {
    width: 150px;
    height: 50px;
    background-color: #272B4F;
    color: #fff!important;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
    font-weight: 400!important;
}

.search-submit svg {
    width: 10px;
    color: white!important;
}

.bg-dark {
    background-color: #0B0E16 !important;
}

.primary-shadow {
    -webkit-box-shadow: 0px 8px 18px 0px rgba(61,61,61,0.7);
    -moz-box-shadow: 0px 8px 18px 0px rgba(61,61,61,0.7);
    box-shadow: 0px 8px 18px 0px rgba(61,61,61,0.7);
}

.primary {
    background-color: #192a56!important;
    color: #E0E1E8;
}

header .fixed-top {
    max-height: 100%!important;
    overflow:auto;
}

#navbarHeader {

}

.menu ul li a {
    color: #fff;
}

.list-inline li {
    display: inline;
}


.nav-item button {
    background-color: transparent;
    border: none;
    padding: 8px 15px;
}

.facebook:hover {
    color: #4464AE!important;
}

.google:hover {
    color: #DE4B45!important;
}

.youtube:hover {
    color: #FF000C!important;
}

.menu-icon {
    background-color: transparent;
    border: 0;
    padding: 5px 10px 2px 10px;
    margin: -5px 5px 0 0px;
}

.main-menu, .sub-menu {
    padding: 25px 0;
}

.main-menu .logo {
    width: 130px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.main-menu .menu{
    margin-right: 20px;
    font-weight: 600;
}

.main-menu .menu ul li{
    margin-right: 10px;
    font-size:14px;
    font-weight:800;
}

.main-menu .social ul li {margin-left: 5px;}

.sub-menu {
    width: 100%;
    position: relative;
}

.sub-menu li {
    margin-bottom: 3px;
}


.sub-menu-ul li a{
    color: #8F8F8F!Important

}

.sub-menu-ul li a:hover {
    color:#fff!important;
}


.footer .box, .sub-menu .box ul li {
    font-size: 14px;

}

.footer .box, .sub-menu .box p{
    color: #aaa;
    margin-top: 0.8rem;
}

.footer .box, .sub-menu .box {
    min-width: 235px;
    max-width: 100%;
    padding: 0 15px;
}

.sub-menu hr {
    width: 160px;
    background-color: #8F8F8F;
    margin: 15px 0 25px 0;
    text-align: left;
}

.sub-menu .social {
    text-align: right;
    margin-right: 100px;
}

.sub-menu .close button {
    border: 0;
    background-color: transparent;
    outline: none;
    color: #fff;
}

.sub-menu .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: absolute;
    width: auto;
    bottom: 8%;
    right: 0.1%;
}

.carousel-item {
    min-height: 50rem;
}
.carousel-item > img {
    min-height: 50rem;
}

.carousel-caption {
    top: 10%;
}

.carousel-caption.text-left p{
    margin-top: 0.5rem;
}

.logoSlide {
    margin: 0.2rem 0 0rem 0;
    width: 96px;
}

.btn-transparent {
    border-color: #fff;
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 20px;
    font-weight: 600;
}

#news-box {
    background-color: #fff;
    margin-top: -89px;
}

#first-news, .gray-square {
    background-color: #F4F3F3;
    background-repeat: no-repeat;
    border: 3px solid #fff;
}

#first-news-text {
    margin: 73px 0 45px 0;
    height: 208px;
    overflow: hidden;
}

#first-news-text h2{
    color:#000;
    text-transform: uppercase;
    font-weight:400
}

#first-news-text a{
    color: #272B4F;
}

#first-news .read-more {
    text-transform: uppercase;
    margin-top: 3px;
}

#first-news .read-more i{
    color:#CB3437;
    margin-left: 10px;
}

#other-news {
    margin: 3px 0 0 0;
}

#other-news ul li {
    padding: 0px;
    border-width: 0px 3px 3px 0px;
    border-color: #fff;
    border-style: solid;
}

#other-news ul li .container {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    height: 180px;
}

#other-news ul li .container p {
    height: 76px;
    overflow: hidden;
}

#other-news ul li .container p a{
    padding: 0px 15px;
    color: #272B4F;
    float:left;
}

#all-news {
    height: 180px;
}

#all-news p {
    margin: 0;
}

#all-news p a {
    color: white!important;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    padding: 0;
    float: left;
    margin: 62px 0 0 32px;
}

#social-area {
    width: 100%;
    margin: 0;
    padding: 0;
}

#social-area ul {
    width: 100%;
    border-right: 3px solid #fff;
}

#social-area ul li {
    width: 100%;
    height: 180px;
    margin-top: 3px;
}

#social-area ul li a {
    width: 100%;
    height: 100%;
}

#social-area ul li:hover {
    margin: 1px 0 2px -1px;
    -webkit-box-shadow: 5px 6px 10px -5px rgba(74,74,74,1);
    -moz-box-shadow: 5px 6px 10px -5px rgba(74,74,74,1);
    box-shadow: 5px 6px 10px -5px rgba(74,74,74,1);
}

#social-area ul li a i {
    font-size: 50px;
    margin: 52px 0 0 27px;
}

#social-area ul li a p {
    width: 100%;
    text-align: right;
    margin: 21px 22px 0 0px;
}

#social-area ul li a p span{
    margin-right:10px;
    margin-top: 19px;
}

#social-area ul li a p img{margin-top: -3px;}

#social-area ul .google {
    background-color: #DC4F47;
}

#social-area ul .facebook {
    background-color: #4464AE;
}

#social-area ul .youtube {
    background-color: #FF000C;
}

#other-news ul li .container h3 {
    padding: 28px 0 0 0;
    width: 92%;
}

#other-news ul li .container h3 a{
    background-color: #474747;
    color: #fff;
    font-weight: bold!important;
    text-transform: uppercase;
    padding: 0px 9px 0 5px;
}

#first-box, #second-box {
    margin-bottom: 50px;
}

#event-box {
    padding: 0px 0 0px 0px;
    background-color: #fff;
}

#event-box * {
}

#event-box #tab-menu {
    margin: 0;
    padding: 0;
}

#event-box .tabs {

}

#event-box .tabs li {margin-bottom: 3px;margin-top: 0px;}

#event-box .tabs li {
    background-color: #F4F3F3;
    height: 175px;
}

#event-box .tabs li button {
    background: none;
    outline:none;
    border: 0;
    width:  100%;
    text-transform: uppercase;
    min-height: 175px;
    padding: 0 10px;
}

#event-box .tabs li button a{
    color: #454545;
}

#event-box .tabs li button #date {
    background-image: url("./assets/images/calendar-icon-gray.png");
    background-repeat: no-repeat;
    float: left;
    font-size: 33px;
    width: 65px;
    padding: 15px 0 0 0;
    height: 65px;
    font-weight: bolder;
    text-align: center;
    margin: 0 0 0 10px;
}

#event-box .tabs li button img{
    float: left;
    margin-left: 15px;
}

#event-box .tabs li button i {font-size: 26px;}

#event-box .tabs li button .arrow {
    float: left;
}

#event-box .tabs li button p {float: left;font-size: 20px;text-align: left;margin: 0 0 0px 2px;padding: 0;}

#event-box .tabs li button p span {
    float: left;
    font-weight: bolder;
    width: 184px;
    margin-left: 21px;
}

#event-box .tab-item {width:  100%;}

#event-box .tab-content {
    margin: 0;
    padding: 0 0px;
}
.full-tab, .last-post {
    margin-bottom: 0!important;
}

#full-tab-button {
}

#full-tab-button p {
}

#full-tab-button p span{
    width: 80%!important;
}

li.active {
    -webkit-box-shadow: inset 0px 0px 50px -19px rgba(74,74,74,1);
    -moz-box-shadow: inset 0px 0px 50px -19px rgba(74,74,74,1);
    box-shadow: inset 0px 0px 50px -19px rgba(74,74,74,1);
    border: 1px solid #f9f9f9;
}

.tab-content .tab-item {
    width: 100%;
}

.tab-content .tab-item ul li {
    width: 100%;
    float: left;
    margin-bottom: 3px;
    padding-left: 3px;
}

.tab-content .tab-item ul li div {
    background-color: #F4F3F3;
    border-right: 3px solid #fff;
    padding: 52px 15px 2px 15px;
    text-align:  center;
    font-size: 26px;
    min-height: 130px;
    margin-right: 0;
}

.tab-content .tab-item ul li div a{
    color: #192a55;
    font-weight: lighter;
}

.tab-content .tab-item ul li .date {
    width: 15%;

}

.tab-content .tab-item ul li .title{
    background-color: #F4F3F3;

    border: 0;
    background-position-x:  right;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

#schedule-tab {padding-left: 2px;}

#schedule-tab .title {
    width: 100%;
    text-align:  center;
    border: 1px solid #fff;
    color: #192a55;
    background-color: #F4F3F3;
    overflow: auto;
}

#schedule-tab .title h4{
    font-size: 20px;
    background-color: #ccc;
    padding:20px 50px;
    margin: 0 0 35px;
}

#schedule-tab .title p{
    text-align: left;
    padding: 0 15px 0 15px;
    font-size: 14px;
}

#third-box {
    margin-top:85px;
    background-color: #DBDBDB;
    padding: 17px 0 11px 0;
    -webkit-box-shadow: 0px -2px 5px -1px rgba(148,146,148,1);
    -moz-box-shadow: 0px -2px 5px -1px rgba(148,146,148,1);
    box-shadow: 0px -2px 5px -1px rgba(148,146,148,1);
}

#video-box {
    background-color: white;
    padding:15px;
}

#video-box div {
    margin:0;
    padding:0;
    height: 350px;
}

#video-box .arrow {
    background-repeat: no-repeat;
    width: 9px;
    height: 30px;
    position: absolute;
    right: -8px;
    top: 163px;
    display: none;
}

#video-box .text{
    padding: 50px 15px 0px 15px!important;
    float: left;
}

#video-box .text h2 {font-size: 24px;width: 90%!important;}

#video-box .text a {
    color: #0f1124;
}

#video-box .text p {

}

#video-box .text .date{
    font-size: 33px;
    color: #f7f1f1;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.video-aux-text {
    margin-top: -132px;
    padding: 0;
    padding: 0 0 0 25px;
}

.video-aux-text p {
    margin: 0;
    line-height: 33px;
}

.ultimas {font-size: 43px;color: #7B7A7A;font-weight: 100;}

.pregacoes {font-size: 42px;color: #7B7A7A;font-weight: 800;margin-bottom: 20px!important;}

.ver-todas {font-size: 34px;font-weight: 100;color: #192a56;}

.ver-todas:hover {
    text-decoration: none;
}

#fourth-box {
    padding: 71px 0 120px 0;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

#address-box {
    background-color: white;
    padding: 3px;
}

#address-box .row {
    margin: 0;
}

#address-box .map {padding: 0;width: 100%;height: 520px;}


#address-box .address {
    margin: 0;
    padding: 0;
}

#address-box .address {padding: 0px 0 0 5px;}

#address-box .address h2{}

#address-box .address .text-box {
    background-color:  #B7BCBD;
    color: #fff;
    float: left;
    padding: 30px 30px 10px 30px;
}

#address-box .address .text-box {float: left;padding: 25px;width: 100%;}

#address-box h2 {
    padding-left: 5px;
}

#address-box .address .text-box div i {
    font-size: 30px;
    float:  left;
    width: 32px;
    margin-top: 10px;
    text-align: center;
}


#address-box .address .text-box div .text {
    padding: 0;
    float: left;
    margin: 0 0 0 10px;
    width: 85%!important;
}

#address-box .address .text-box div .text p {margin-bottom: 0;float: left;font-weight: bold;font-size: 16px;}

#address-box .address .text-box .phone {
    float: left;
    width:  100%;
    margin-bottom: 15px;
}

#address-box .row p{
    width:100%;
}

#address-box .address .text-box .full-address {margin-bottom: 15px;float: left;width: 100%;}

#address-box .address .text-box .mail {width: 100%;float: left;}


#address-box .address .social {margin: 0px 0 0 30px;float: left;}

#address-box .address .social p {
    font-size: 25px;
    margin: 7px 0 0 0;
}

#address-box .address .social p a {
    color: #BEBEBE;
}

#address-box .address .social p a i {width: 32px;}

#address-box .address .social p a span {
    margin-left: 8px;
    font-size: 16px;
}

#message {
    margin-top: 95px;
    font-style: italic;
}

#message h3 {
    font-size: 36px;

}

#message p {
    font-size: 26px
}

#pre-footer {
    height: 15px;
    width: 100%;
    background-color: #474748;
}

footer {
    margin: 0;
    padding: 15px 0;
    float: left;
    width: 100%;
}

footer .container {
    width: 98%;
}

.copyright {
    text-align: center;
    margin: 3rem 0 0 0;
    float: left;
    width: 100%;
    font-size: 12px;
    color: #8F8F8F!Important;
}

footer a, footer a:active, footer a:visited{
    color: #aaa;
}

footer a:hover{
    color: #c1c1c1!important;
}

aside {
    padding: 30px 5px;
}

aside .widget {
    margin-bottom: 45px;
}

#comment-box {margin: 0!important;padding: 10px!important;}

#comment-box .panel {margin: 0!important;padding: 0!important;}

#comment-box .panel-heading {background-color: #0b0e15;color: #fff;padding: 39px 30px;}

#comment-box .panel-heading h3{
    font-size:24px;
    margin: 0;
    position: relative;
}

.comment-number {
    font-size: 12px;
    position: absolute;
    top: -5px;
    margin: 0 0 0 7px;
    font-weight: bold;
}

.comment-list {

}

.comment-list li {
    margin: 8px 15px;
    padding: 0px 0px;
}

.comment-list li .image-box img {
    border-radius: 80px;
}

.comment .author-name {
    font-size: 24px;
}

.comment .date {
    margin-bottom: 15px;
}

.image-box {
    text-align: center;
}

.padding-comment {
    padding: 40px 0;
}
.avatar-image {
    width: 75%;
    padding: 0;
}

.reply-arrow {
    margin-right: 4px;
}

#respond {
    margin: 0 15px;
}

#respond h3{

}

#respond p {
    display:block;
}

#respond textarea {
    display:block;
}


#respond input {
    display:block;
}

.search-results {

}

.search-results h1 {
    font-size: 36px!important;
    margin-bottom: 25px;
}

.search-results h2 {

}

.search-results h3 {

}

.search-results p {
    margin: 15px 0 25px 0;
}

.search-results .entry-title a {
    color: #212529;
    font-size: 26px;
}

.search-results hr {
    margin-bottom: 55px;
}

.search-results .entry-meta, .search-results time, .post-edit-link{
    font-size: 14px!important;
}

.search-results .more-link {
    font-size: 16px;
    color: #6f6f6f!important;
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 13px;
}

.search-results .more-link:hover {
    border-color:#bebebe!important;
    color:#bebebe!important;
}

.search-results .screen-reader-text {
    display:none;
}

.search-results .page-numbers {
    font-size: 16px;
    margin-right: 15px;
    text-decoration: underline;
}

.search-results .nav-links {
    margin: 15px 0;
}

.content-page-post-thumbnail img {
    width: 100%;
    height:auto;
}

.content-page-post-thumbnail {
    overflow: hidden;
    max-height:400px;
    width:100%;
}

.except-text {
    color: #4a4a4a!important;
}

.thumb-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#post-text a, .widget a {
    color: #0f1124;
}

#post-text h1, #post-text h2 {
    margin-top: 25px;
}

.blue-border {
    background-color: #0f1124;
    margin-top: -102px;
    height: 15px;
}

.sub-menu .row .menu-column {
    margin-bottom: 50px;
}

.sub-menu-border {
    border-bottom: 1px solid #818181;
}

a.page-link.active {
    background-color: #0f1124!important;
    font-weight: bold!important;
    color: #fff!important;
}

.pagination {
    margin-bottom: 50px;
}

article {
    margin-bottom: 50px;
}

article h3 {
    font-weight: 400
}

.sidestyle .text-muted {
    color: #5a5a5a!important;
}
